# Existing services
TUNNEL_TOKEN=
TMDB_READ_ACCESS_TOKEN=

# Public username/password protection
AUTH_USERNAME=
AUTH_PASSWORD=
# Generate at least 32 random characters. Example: openssl rand -hex 32
AUTH_SECRET=
